body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header{
    margin: auto;
    
    margin-right: auto;
    background: #ebebeb;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-left: 180px;
    
    


}